/* Author Aleksi Nokela */
label {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
  
}

button {
  margin-top: 10px;
}

output {
  margin-top: 20em; 
}

div {
  margin-left: 10px;
  margin-bottom: 10px;
}